@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    width: 80%;
    margin: 0 auto;
    background-color: #16161a;
    
}

.App {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #fffffe;
}

h2, p, label {
    color: #94a1b2;
}

a {
    color: #7f5af0;
}

